In [1]:
#organising a list:

In [3]:
cars = ['benz','bmw','audi','toyota']
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'toyota']

In [8]:
print(cars.sort())

None

In [19]:
cars1 = ['benz','bmw','audi','toyota']

In [27]:
print('before sort:')
print(cars1)
print("\nafter sort")
print(sorted(cars1))
print("\n test original")
print(cars1)

before sort:
['benz', 'bmw', 'audi', 'toyota']

after sort
['audi', 'benz', 'bmw', 'toyota']

 test original
['benz', 'bmw', 'audi', 'toyota']

In [28]:
len(cars1)

4

In [41]:
print(cars[1:len(cars)-1])
print (" ")
print(cars[1:len(cars)])

['benz', 'bmw']

['benz', 'bmw', 'toyota']

In [42]:
for list in cars1:
    print(list)

benz
bmw
audi
toyota

In [44]:
print(list[0])

t

In [46]:
for list in cars:
    print(f"i like to have {list}")

i like to have audi
i like to have benz
i like to have bmw
i like to have toyota

In [47]:
print(f"i like to have {list}")

i like to have toyota

In [48]:
for list in cars:
    print(f"i like to have {list[1]}")

i like to have u
i like to have e
i like to have m
i like to have o

In [3]:
months = ['jan','feb','mar','apri','may','jun']
print(months)
print(sorted(months))
print(months)
months.sort()
print(months)

['jan', 'feb', 'mar', 'apri', 'may', 'jun']
['apri', 'feb', 'jan', 'jun', 'mar', 'may']
['jan', 'feb', 'mar', 'apri', 'may', 'jun']
['apri', 'feb', 'jan', 'jun', 'mar', 'may']

In [4]:
print(months)

['apri', 'feb', 'jan', 'jun', 'mar', 'may']

In [6]:
months[5] = 'mayy'

In [7]:
months

['apri', 'feb', 'jan', 'jun', 'mar', 'mayy']

In [8]:
months.append('july')

In [9]:
months

['apri', 'feb', 'jan', 'jun', 'mar', 'mayy', 'july']

In [11]:
months.insert(1,'aug')

In [12]:
months

['apri', 'aug', 'feb', 'jan', 'jun', 'mar', 'mayy', 'july']

In [14]:
months.pop()

'july'

In [15]:
months

['apri', 'aug', 'feb', 'jan', 'jun', 'mar', 'mayy']

In [16]:
months.insert(4,'jul')

In [18]:
months

['apri', 'aug', 'feb', 'jan', 'jul', 'jun', 'mar', 'mayy']

In [20]:
del months[7]

In [21]:
months

['apri', 'aug', 'feb', 'jan', 'jul', 'jun', 'mar']

In [22]:
months[0:9]

['apri', 'aug', 'feb', 'jan', 'jul', 'jun', 'mar']

In [23]:
months[:4]

['apri', 'aug', 'feb', 'jan']

In [24]:
months

['apri', 'aug', 'feb', 'jan', 'jul', 'jun', 'mar']

In [29]:
months[1:6:2]

['aug', 'jan', 'jun']

In [30]:
len(months)

7

In [31]:
#For loop:

In [32]:
for m_name in months:
    print(m_name)

apri
aug
feb
jan
jul
jun
mar

In [33]:
print(m_name)

mar

In [39]:
for m_name in months:
    print(f"amount of Rs:X will get credited as a salary for the month of {m_name}".title())

Amount Of Rs:X Will Get Credited As A Salary For The Month Of Apri
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Aug
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Feb
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Jan
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Jul
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Jun
Amount Of Rs:X Will Get Credited As A Salary For The Month Of Mar