# Dictionary :

In [2]:
# Create:

In [5]:
student = {'username':'student1','fname':'karthik','lname':'v'}

In [6]:
print(student)

{'username': 'student1', 'fname': 'karthik', 'lname': 'v'}

In [7]:
type(student)

dict

In [8]:
print(student['username'])

student1

In [11]:
print(student['fname'])

karthik

In [13]:
user = student['username']
fname = student['fname']
print(user)
print(fname)

student1
karthik

In [19]:
print(f"firstname of user with username '{user}' is : {fname}")

firstname of user with username 'student1' is : karthik

In [27]:
print(f"{user},{fname},{fname},{user}")

student1,karthik,karthik,student1

In [28]:
# add items to dict
student['age'] = 34

In [29]:
print(student)

{'username': 'student1', 'fname': 'karthik', 'lname': 'v', 'age': 34}

In [30]:
student["gender"] = 'male'

In [31]:
print(student)

{'username': 'student1', 'fname': 'karthik', 'lname': 'v', 'age': 34, 'gender': 'male'}

In [32]:
student

{'username': 'student1',
 'fname': 'karthik',
 'lname': 'v',
 'age': 34,
 'gender': 'male'}

In [37]:
# Modify
student['username'] = 'vkartheek'

In [45]:
student

{'username': 'vkartheek', 'fname': 'karthik', 'lname': 'v', 'age': 34}

In [ ]:
# del items
del student['gender']

In [36]:
student

{'username': 'vkartheek', 'fname': 'karthik', 'lname': 'v', 'age': 34}

In [40]:
user_0 = {
    'username':'student1',
    'fname':'karthik',
    'lname':'v',
    'age': 32
    }
print(user_0)

{'username': 'student1', 'fname': 'karthik', 'lname': 'v', 'age': 32}

In [41]:
user_0

{'username': 'student1', 'fname': 'karthik', 'lname': 'v', 'age': 32}

In [42]:
student

{'username': 'vkartheek', 'fname': 'karthik', 'lname': 'v', 'age': 34}

In [47]:


# useing For loop on Dict:

In [49]:
for key1,values1 in user_0.items():
    print(key1)
    print(values1)

username
student1
fname
karthik
lname
v
age
32

In [51]:
for key1 in user_0.keys():
    print(key1)

username
fname
lname
age

In [52]:
for values1 in user_0.values():
    print(values1)

student1
karthik
v
32

In [54]:
for k in student.items():
    print(f"key : {k}")

key : ('username', 'vkartheek')
key : ('fname', 'karthik')
key : ('lname', 'v')
key : ('age', 34)

In [58]:
for k,v in student.items():
    print(f"\nkey : {k}")
    print(f"\nvalue : {v}")

key : username

value : vkartheek

key : fname

value : karthik

key : lname

value : v

key : age

value : 34

In [59]:
for k,v in student.items():
    print(f"\nkey,value : {k,v}")

key,value : ('username', 'vkartheek')

key,value : ('fname', 'karthik')

key,value : ('lname', 'v')

key,value : ('age', 34)