In [11]:
!python --version

Python 3.7.4

In [6]:
#interger:
a=10
b=40
c=a+b-5*a+b/a
print(c)

4.0

In [12]:
type(a)
type(c)

float

In [16]:
#String:
name = 'satish'
print(name)

satish

#data types: 
    int , 
    float, 
    string , 
    list , 
    tuple , 
    dictionary

In [32]:
# Adding white spaces to strings:
print("languages: \n\t english \n\t telugu \n\t hindi \n\t tamil \nend".title())

Languages:
	 English
	 Telugu
	 Hindi
	 Tamil
End

In [42]:
#Removing white spaces:

print("              languages: \n\t english \n\t telugu \n\t hindi \n\t tamil \nend".title().strip())

Languages:
	 English
	 Telugu
	 Hindi
	 Tamil
End

In [40]:
lang = "        languages: \n\t english \n\t telugu \n\t hindi \n\t tamil \nend        "
print(lang.strip().title())

Languages:
	 English
	 Telugu
	 Hindi
	 Tamil
End

-    tab+space  -- > auto select
-    tab  --> intelligence
-    shift+enter  -- > execute and cursor to next line
-    alt+enter  -- > execute and insert new line
-    {}  -- > place holder
-    # --> will be used to comment the code.

In [18]:
# F-strings :
# the letter "F" preceeds the string, and variables are mentioned in the curly braces in thier places.
Week = "Monday"
Desc = f"Happy {Week} guys, have a great week "
print(Desc)

Happy Monday guys, have a great week

In [47]:
#Multi line query : sould be mentioned in triple quotes only
"""Hi this 

is multi 
line query"""

'Hi this \n\nis multi \nline query'

In [54]:
#Multi line query : sould be mentioned in triple quotes only
test = """Hi this 

is multi 
line query"""

print(test)

Hi this

is multi
line query

# INTRODUCTION to List:
A list is a collection of items in a perticular order.
syntax: stu = [ , , , ,..]
Accessing the elements in the list is based on indexing, indexing will starts with 0,1,2,3...
Reverse indexing will starts from -1,-2,-3....
stu[0]
stu[1:4]  #This returns items from index 1 to index 4-1 (i.e., 3)

In [83]:
students = ['ravi','satish','srikanth','ganesh']
print([students])

[['ravi', 'satish', 'srikanth', 'ganesh']]

In [59]:
students

['ravi', 'satish', 'srikanth', 'ganesh']

In [61]:
[students]

[['ravi', 'satish', 'srikanth', 'ganesh']]

In [87]:
print(students[1])

satish

In [90]:
print(students[-1])

ganesh

In [92]:
print(students[1-2])

ganesh

In [67]:
print(students[1:2])
#This returns items from index 1 to index 2-1 (i.e., 1)

['satish']

In [68]:
print(students[1:9])
#This returns items from index 1 to index 9-1 (i.e., 8)

['satish', 'srikanth', 'ganesh']

In [86]:
students[1][2]  #'satish' , and indesx 2 letter will be 't'

't'

In [85]:
# A list may also contain tuples or so.
>>> languages=[('English','Albanian'),'Gujarati','Hindi','Romanian','Spanish']

>>> languages[0]

('English', 'Albanian')

In [75]:
>>> languages[0][1]

'Albanian'

In [81]:
>>> languages[0][1][3]

'a'

In [96]:
print(students[2].title())

Srikanth

In [102]:
print(students.title())   # giving error, we can't use title() with out index name it seems.

AttributeError: 'list' object has no attribute 'title'

# Changing , adding , removing elements from LIST
students[0] = 'vishal'        --- update
students.append('ravi')       --- add at end of the list
students.insert(2,'sushil')   --- insert in perticular index position
del students[2]               --- to remove perticular element with index number
students.pop()                --- by default it will remove last element of hte list , also it will remove elemnt temporarly.
students[-1:]  or students[-1]  --- to get last items from the list

In [113]:
#changing:
students

['ravi', 'satish', 'srikanth', 'ganesh']

In [114]:
students[0] = 'vishal'

In [115]:
students

['vishal', 'satish', 'srikanth', 'ganesh']

In [116]:
#Adding:
students

['vishal', 'satish', 'srikanth', 'ganesh']

In [120]:
students.append ('ravi')

In [121]:
students

['vishal', 'satish', 'srikanth', 'ganesh', 'ravi']

In [122]:
students.insert(2,'sushil')

In [123]:
students

['vishal', 'satish', 'sushil', 'srikanth', 'ganesh', 'ravi']

In [125]:
#Removing:
students

['vishal', 'satish', 'sushil', 'srikanth', 'ganesh', 'ravi']

In [128]:
del students[5]

In [129]:
students

['vishal', 'satish', 'sushil', 'srikanth', 'ganesh']

In [130]:
students.pop()

'ganesh'

In [131]:
students

['vishal', 'satish', 'sushil', 'srikanth']

In [134]:
print(students)

['vishal', 'satish', 'sushil', 'srikanth']

# Slicing elements in the list

In [135]:
students

['vishal', 'satish', 'sushil', 'srikanth']

In [136]:
students[0:3]

['vishal', 'satish', 'sushil']

In [137]:
students[1][3]

'i'

In [138]:
students[0:3][2]

'sushil'

In [139]:
students

['vishal', 'satish', 'sushil', 'srikanth']

In [153]:
students[:]

['vishal', 'satish', 'sushil', 'srikanth']

In [145]:
students[-2:3]

['sushil']

In [146]:
students[-2:4]

['sushil', 'srikanth']

In [147]:
students[-1:5]

['srikanth']

In [156]:
students[-1:]    # to get last items from the list

['srikanth']

In [158]:
students[0] = 'aravind'

In [159]:
students.append('raju')

In [160]:
students.insert(6,'abhiram')

In [162]:
del students[5]

In [163]:
students.pop()

'raju'

In [164]:
students

['aravind', 'satish', 'sushil', 'srikanth']

In [165]:
students.insert(10,'abhiram')

In [166]:
students

['aravind', 'satish', 'sushil', 'srikanth', 'abhiram']

In [174]:
print(students[-2:])

['srikanth', 'abhiram']