# Intergers / Floats

In [1]:
2/3

0.6666666666666666

In [2]:
2/0

ZeroDivisionError: division by zero

In [28]:
2**3

8

In [4]:
4.0*3

12.0

In [7]:
2.2**3

10.648000000000003

In [16]:
'ba'+'na'*2

'banana'

In [20]:
a=2
b=2
c=a+b==4
print(c)

True

In [19]:
x=1.1
y=2.2
z=x+y

print(z)

3.3000000000000003

In [15]:
type(z)

float

In [16]:
type(z)

float

In [17]:
z=10.0
print(z)

10.0

In [18]:
type(z)

float

In [20]:
x=1.1
y=2.2
z=x+y

print(z)

3.3000000000000003

In [21]:
!python --version

Python 3.7.4

In [27]:
"""
hi
this
is 
multi
"""

'\nhi\nthis\nis \nmulti\n'

In [24]:
"\nhi\nthis \nis \nmulti\n"

'\nhi\nthis \nis \nmulti\n'

In [37]:
z=1

In [41]:
x=1
y=1
z=x/y
print(z)

1.0

In [42]:
type(z)

float

In [23]:
x=1
type(x)

int

In [24]:
x='satish'
type(x)

str

In [31]:
x=0.3333333333333333333333333333333333
print(x)

0.3333333333333333

In [32]:
print(round(x,2))

0.33

In [27]:
type(x)

float

In [34]:
x=round(x)
print(x)

0

In [35]:
type(x)

int

# list data type
list is a collection of items in a particular order.

    syntax : [ , , , ]
    
indexing of elemnets will starts from 0,1,2 and so on.
    
    syntax: list_name[indesx]         ex: employee[1]

In [38]:
employee = ['satish','sandeep','ganesh','susheel','vinod']
employee

['satish', 'sandeep', 'ganesh', 'susheel', 'vinod']

In [39]:
print(employee)

['satish', 'sandeep', 'ganesh', 'susheel', 'vinod']

In [40]:
type(employee)

list

In [41]:
print(employee[0])

satish

In [42]:
print(employee[4-4])

satish

In [44]:
print(employee[4-8])

sandeep

In [45]:
print(employee[-4])

sandeep

In [46]:
print(employee[-3].title())

Ganesh

In [52]:
message = f"you have been allowed to attend today's class with {employee[-3]} and {employee[-2]}"
print(message)

you have been allowed to attend today's class with ganesh and susheel

In [59]:
msg = f"hi {employee[0]}"
print(msg)

hi satish

In [61]:
f"hi {employee[0]}"

'hi satish'

In [62]:
a= employee[1] 
print(a)

sandeep

In [63]:
employee[1] == employee[2]

False

In [64]:
employee[1] == 'sandeep'

True

In [66]:
employee[1] == """sandeep"""

True